@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-image: url(horoscope.jpg);
    background-repeat: no-repeat;
    background-size: 225vh 110vh; /*225vh 100vh*/
}
h1{
    color: rgb(236, 173, 91);
}
.boxDesign{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    background-color: rgba(255, 255, 255, 0.438);
    width: 100vh;
    height: 80vh;
    border-radius: 8px;
}
.boxDesign h2{
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 27px;
    background-color: transparent;
}
.boxDesign select{
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 5px 30px 5px 30px;
    text-align: start;
    font-size: 27px;
    border: none;
}
.boxDesign button{
    position: absolute;
    top: 50%;
    left: 18.5%;
    padding: 5px 30px 5px 30px;
    background-color: rgb(236, 173, 91); 
    border: none;
    border-radius: 6px;
    font-size: 25px;
}
.phrases{
    color: rgb(2, 2, 2);
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 30vh;
    text-align: justify;
    font-size: 23px;
}
#myZodiac{
    position: absolute;
    top: 30vh;
    right: 40vh;
    
}
